Package: comedi-k8055-bash-interface
Version: 0.33
Maintainer: James.Harwood@gmail.com
Architecture: i386
Description: Command line utilities to read/write Velleman k8055 cards from bash using comedi kernel drivers.
